menu "Esp now API"
    config MAX_NUMBER_OF_DEVICE
        int "Max number of devices"
        default 8

    config ESP_NOW_TASK_STACK_DEPTH
        int "Task stack depth"
        default 8000

    config ESP_NOW_TASK_PRIORITY
        int "Task priority"
        range 0 20
        default 2

    config ESP_NOW_TASK_CORE_ID
        int "Task core"
        range 0 1
        default 0

endmenu