menu "GPS task"
    config GPS_TASK_DEPTH
        int "GPS task stack depth"
        default 4096

    config GPS_TASK_PRIORITY
        int "GPS task prioirty"
        range 0 20
        default 2

    config GPS_TASK_CPU
        int "GPS task cpu number"
        range 0 1
        default 1

    config GPS_TASK_PERIOD_MS
        int "GPS task loop execution period (ms)"
        range 0 60000
        default 1000
endmenu