menu "Flash Task"
    config FLASH_DIR
        string "Flash directiory"
        default "/spiffs"

    config FLASH_FILE
        string "Flash file name"
        default "flash"

    config FLASH_QUEUE_SIZE
        int "Flash data queue size"
        default 20

    config FLASH_DATA_DROP_VALUE
        int "Data drop value"
        range 0 FLASH_QUEUE_SIZE
        default 10
endmenu