menu "Flash Task"
    config FLASH_DIR
        string "Flash directiory"
        default "/spiffs"

    config FLASH_FILE
        string "Flash file name"
        default "flash"

    config FLASH_QUEUE_SIZE
        int "Flash data queue size"
        default 20

    config FLASH_DATA_DROP_VALUE
        int "Data drop value"
        range 0 FLASH_QUEUE_SIZE
        default 10
endmenu

menu "SD Task"

    config SD_DATA_BUFFER_MAX_SIZE
        int "data buffer size"
        default 256

    config SD_LOG_BUFFER_MAX_SIZE
        int "log buffer size"
        default 256

    config SD_MOUNT_POINT
        string "mount_point"
        default "/sdcard"

    config SD_DATA_QUEUE_SIZE
        int "Data queue size"
        default 20

    config SD_LOG_QUEUE_SIZE
        int "Log queue size"
        default 20

    config SD_PATH_SIZE
        int "Path size"
        default 40

    config SD_DATA_DROP_VALUE
        int "Data drop value"
        range 0 SD_DATA_QUEUE_SIZE
        default 10
endmenu