menu "PinOut"
    config SPI_HOST
        int "Spi host"
        default 3
    config SPI_MOSI
        int "Spi mosi pin"
        default 23

    config SPI_MISO
        int "Spi miso pin"
        default 19

    config SPI_SCK
        int "Spi sck pin"
        default 18

    config LORA_D0
        int "LoRa DIO0 pin"
        default 17

    config LORA_RS
        int "LoRa reset pin"
        default 17

    config LORA_CS
        int "LoRa cs pin"
        default 4

    config SD_CS
        int "SD cs pin"
        default 5

    config SCL_COM
        int "I2C num 1 sck pin"
        default 26

    config SDA_COM
        int "I2C num 1 sda pin"
        default 27

    config SCL_SEN
        int "I2C num 2 sck pin"
        default 21

    config SDA_SEN
        int "I2C num 2 sda pin"
        default 22

    config UART_TX
        int "UART tx pin"
        default 17

    config UART_RX
        int "UART rx pin"
        default 16

    config UART_BAUDRATE
        int "Uart communication baudrate"
        default 9600

    config UART_PORT_NUM
        int "Uart port number"
        range 0 2
        default 2

endmenu